<div class="w-screen bg-opacity-50 navbar bg-base-100">
    <div class="flex-none lg:hidden">
        <label for="nav-drawer" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                class="inline-block w-6 h-6 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                </path>
            </svg>
        </label>
    </div>
    <div class="flex-row items-center flex-1 gap-2 px-2 mx-2 avatar">
        <div class="w-6 rounded">
            <img src="logo.png" />
        </div>
        <span class="font-medium text-md">setup.ts</span>
    </div>
</div>