---
import { Icon } from 'astro-icon'
---

<div
    class="absolute top-0 left-0 z-20 flex items-center w-screen h-16 pl-4 border-b border-neutral/25 bg-opacity-95 bg-base-100">
    <div class="flex-none lg:hidden">
        <label for="nav-drawer" class="btn btn-square btn-ghost">
            <Icon pack="mdi" name="menu" size="24"></Icon>
        </label>
    </div>
    <a class="flex-row items-center flex-1 gap-2 px-2 mx-2 cursor-pointer avatar" href="/">
        <div class="w-6 rounded">
            <img src="/logo.png" />
        </div>
        <span class="font-medium text-md">setup.ts</span>
    </a>
</div>