---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Navbar from '../components/Navbar.astro';
import Sidebar from '../components/Sidebar.astro';
const { content = {} } = Astro.props;
---

<html dir={content.dir ?? 'ltr' } lang={content.lang ?? 'en-us' } class="initial">

<head>
	<HeadCommon />
	<HeadSEO {content} canonicalURL={Astro.canonicalURL} />
</head>

<body class="relative bg-base-200">
	<Navbar></Navbar>
	<Sidebar>
		<slot></slot>
	</Sidebar>
</body>

</html>